<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.EtfTaIndicatorMapper">

    <select id="pageSafe" resultType="com.demo.entity.EtfTaIndicator">
        SELECT t.*, m.symbol AS etfName
        FROM etf_ta_indicator t
        LEFT JOIN etf_security_master m ON t.etf_code = m.etf_code
        <where>
            <if test="keyword != null and keyword != ''">
                AND t.etf_code LIKE CONCAT(#{keyword}, '%')
            </if>
            <if test="etfName != null and etfName != ''">
                AND m.symbol LIKE CONCAT(#{etfName}, '%')
            </if>
            <if test="period != null and period.size() > 0">
                AND t.period IN
                <foreach collection="period" item="p" open="(" separator="," close=")">
                    #{p}
                </foreach>
            </if>
            <if test="tradeTimeDate != null and tradeTimeDate != ''">
                AND t.trade_time &gt;= #{tradeTimeDate}
                AND t.trade_time &lt; DATE_ADD(#{tradeTimeDate}, INTERVAL 1 DAY)
            </if>
            <if test="signalTrendLong != null">
                AND t.signal_trend_long = #{signalTrendLong}
            </if>
            <if test="isMacdRed != null">
                AND t.is_macd_red = #{isMacdRed}
            </if>
            <if test="macdHistDirection != null">
                AND t.macd_hist_direction = #{macdHistDirection}
            </if>
            <if test="isSarBullish != null">
                AND t.is_sar_bullish = #{isSarBullish}
            </if>
            <if test="sarTrend != null">
                AND t.sar_trend = #{sarTrend}
            </if>
            <if test="signalMomentumLong != null">
                AND t.signal_momentum_long = #{signalMomentumLong}
            </if>
            <if test="signalWarning != null">
                AND t.signal_warning = #{signalWarning}
            </if>
        </where>
        <choose>
            <when test="sortField == 'etfCode'">ORDER BY t.etf_code</when>
            <when test="sortField == 'etfName'">ORDER BY m.symbol</when>
            <when test="sortField == 'period'">ORDER BY t.period</when>
            <when test="sortField == 'tradeTime'">ORDER BY t.trade_time</when>
            <when test="sortField == 'macd'">ORDER BY t.macd</when>
            <when test="sortField == 'isMacdRed'">ORDER BY t.is_macd_red</when>
            <when test="sortField == 'macdHistDirection'">ORDER BY t.macd_hist_direction</when>
            <when test="sortField == 'sarValue'">ORDER BY t.sar_value</when>
            <when test="sortField == 'isSarBullish'">ORDER BY t.is_sar_bullish</when>
            <when test="sortField == 'sarTrend'">ORDER BY t.sar_trend</when>
            <when test="sortField == 'signalTrendLong'">ORDER BY t.signal_trend_long</when>
            <when test="sortField == 'signalMomentumLong'">ORDER BY t.signal_momentum_long</when>
            <when test="sortField == 'signalWarning'">ORDER BY t.signal_warning</when>
            <otherwise>ORDER BY t.etf_code DESC, t.trade_time DESC, t.period</otherwise>
        </choose>
        <if test="sortField != null and sortField != ''">
            <choose>
                <when test="sortOrder == 'asc'"> ASC</when>
                <otherwise> DESC</otherwise>
            </choose>
        </if>
        LIMIT #{offset}, #{size}
    </select>

    <select id="countSafe" resultType="long">
        SELECT COUNT(1)
        FROM etf_ta_indicator t
        LEFT JOIN etf_security_master m ON t.etf_code = m.etf_code
        <where>
            <if test="keyword != null and keyword != ''">
                AND t.etf_code LIKE CONCAT(#{keyword}, '%')
            </if>
            <if test="etfName != null and etfName != ''">
                AND m.symbol LIKE CONCAT(#{etfName}, '%')
            </if>
            <if test="period != null and period.size() > 0">
                AND t.period IN
                <foreach collection="period" item="p" open="(" separator="," close=")">
                    #{p}
                </foreach>
            </if>
            <if test="tradeTimeDate != null and tradeTimeDate != ''">
                AND t.trade_time &gt;= #{tradeTimeDate}
                AND t.trade_time &lt; DATE_ADD(#{tradeTimeDate}, INTERVAL 1 DAY)
            </if>
            <if test="signalTrendLong != null">
                AND t.signal_trend_long = #{signalTrendLong}
            </if>
            <if test="isMacdRed != null">
                AND t.is_macd_red = #{isMacdRed}
            </if>
            <if test="macdHistDirection != null">
                AND t.macd_hist_direction = #{macdHistDirection}
            </if>
            <if test="isSarBullish != null">
                AND t.is_sar_bullish = #{isSarBullish}
            </if>
            <if test="sarTrend != null">
                AND t.sar_trend = #{sarTrend}
            </if>
            <if test="signalMomentumLong != null">
                AND t.signal_momentum_long = #{signalMomentumLong}
            </if>
            <if test="signalWarning != null">
                AND t.signal_warning = #{signalWarning}
            </if>
        </where>
    </select>

</mapper>
